body{
  background-image: radial-gradient(circle at center,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: white;
  padding: 2%;
  height: 100vh;
}
.Header{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  outline-style: solid;
  outline-color: hsl(217, 16%, 45%);
  border-radius: 0.2cm;
  margin: 0  auto;
  padding: 20px;
  align-items: center;
}
.score{
  padding: 5px 20px 5px 20px;
  background-color: white;
  color: hsl(229, 25%, 31%);
  text-align: center;
  border-radius: 0.5cm;
}
.game{
  margin-top: 7%;
  background-size: contain;
  background-image: url('./components/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 95%;
}
.scissors{
  position: fixed;
  left: 740px;
  top: 230px;
  background-color: white;
  padding: 1%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: hsl(40, 84%, 53%);
}
.paper{
  position: fixed;
  left: 470px;
  top: 230px;
  background-color: white;
  padding: 1%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: hsl(230, 89%, 65%);
}
.rock{
  position: fixed;
  left: 600px;
  top: 480px;
  background-color: white;
  padding: 1%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: hsl(349, 70%, 56%);
}
.button{
  position: absolute;
  top: 85%;
  left: 90%;
 
}
button{
  background-color: transparent;
  color: white;
  outline-color: hsl(217, 16%, 45%);
  padding: 10px;
}
.rules{
  display: flex;
  justify-content: center;
}
.result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 100px auto;
  align-items: center;
}
.image{
  background-color: white;
  padding: 3px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 20px;
  border-color: hsl(349, 70%, 56%);
}
.playAgain{
  background-color: white;
  color: hsl(229, 25%, 31%);
  border-radius: 0.2cm;
  border: 0;
  outline: 0;

}
.one{
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;

}
.two{
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;

}
.butt{
  outline-color: hsl(217, 16%, 45%);
  border-radius: 0.2cm;
  width: 100px;
}
@media(max-width:2560px){
  .scissors{
    position: fixed;
    left: 1320px;
    top: 289px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 1020px;
    top: 289px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 1155px;
    top: 560px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:1440px){
  .scissors{
    position: fixed;
    left: 780px;
    top: 209px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 490px;
    top: 209px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 630px;
    top: 490px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
}
@media(max-width:1400px){
  .scissors{
    position: fixed;
    left: 750px;
    top: 219px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 470px;
    top: 219px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 615px;
    top: 500px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:1350px){
  .scissors{
    position: sticky;
    left: 750px;
    top: 219px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: sticky;
    left: 420px;
    top: 219px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: sticky;
    left: 600px;
    top: 500px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:1280px){
  .scissors{
    position: fixed;
    left: 710px;
    top: 225px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 420px;
    top: 225px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 560px;
    top: 500px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:1024px){
  .game{
    height: 250px;
  }
  .scissors{
    position: fixed;
    left: 550px;
    top: 182px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 320px;
    top: 182px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 440px;
    top: 410px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:912px){
  Header{
   
    width: 85%;
    
  }
  .game{
    height: 300px;
  }
  .scissors{
    position: fixed;
    left: 500px;
    top: 182px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 240px;
    top: 182px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 380px;
    top: 452px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(349, 70%, 56%);
  }
 
  .button{
    position: absolute;
    top: 85%;
    left: 80%;
   
  }
}
@media(max-width:853px){
  .Header{
   
    width: 95%;
    
  }
  .game{
    height: 500px;
  }
  .scissors{
    position: fixed;
    left: 565px;
    top: 182px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 100px;
    top: 182px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 350px;
    top: 575px;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(349, 70%, 56%);
  }
}
@media(max-width:768px){
  .game{
    height: 250px;
  }
  .statement{
    font-size: 13px;
  }
  
  .Header h1{
    font-size: 28px;
  }
  .result{
    margin: 100px auto;
    width: 100%;
  }
  .image{
    background-color: white;
    padding: 3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 20px;
    border-color: hsl(349, 70%, 56%);
  }
  .one h3,.two h3{
    font-size: 16px;
  }
  .scissors{
    position: fixed;
    left: 450px;
    top: 162px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 200px;
    top: 162px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 320px;
    top: 350px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(349, 70%, 56%);
  }
}
@media(max-width:540px){
  .Header{
   
    width: 95%;
    
  }
  .Header h1{
    font-size: 18px;
  }
  .scissors{
    position: fixed;
    left: 330px;
    top: 142px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 100px;
    top: 142px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 220px;
    top: 350px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(349, 70%, 56%);
  }
}

@media(max-width:450px){
  .Header{
   
    width: 95%;
    
  }
  .scissors{
    position: fixed;
    left: 300px;
    top: 210px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 5px;
    top: 210px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 150px;
    top: 500px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(349, 70%, 56%);
  }
}
@media(max-width:430px){
  .Header{
   
    width: 95%;
    
  }
  .button{
    left: 65%;
  }
    .image{
      background-color: white;
      padding: 3px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-style: solid;
      border-width: 10px;
      border-color: hsl(349, 70%, 56%);
    }
    .one h3,.two h3{
      font-size: 13px;
    }
    .Header{
     
      width: 95%;
      
    }
     .game{
      margin-top: 12%;
    }
    .scissors{
      position: fixed;
      left: 280px;
      top: 140px;
      background-color: white;
      padding: 1.5%;
      border-radius: 100%;
      border-style: solid;
      border-width: 12px;
      border-color: hsl(40, 84%, 53%);
    }
    .paper{
      position: fixed;
      left: 30px;
      top: 140px;
      background-color: white;
      padding: 1.5%;
      border-radius: 100%;
      border-style: solid;
      border-width: 12px;
      border-color: hsl(230, 89%, 65%);
    }
    .rock{
      position: fixed;
      left: 170px;
      top: 350px;
      background-color: white;
      padding: 1.5%;
      border-radius: 100%;
      border-style: solid;
      border-width: 12px;
      border-color: hsl(349, 70%, 56%);
    }
  
}
@media(max-width:400px){
  
  .image{
    background-color: white;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
  .one h3,.two h3{
    font-size: 10px;
  }
  .Header h1{
    font-size: 14px;
  }
  .scissors{
    position: fixed;
    left: 250px;
    top: 150px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 10px;
    top: 150px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 150px;
    top: 350px;
    background-color: white;
    padding: 1.5%;
    border-radius: 100%;
    border-style: solid;
    border-width: 12px;
    border-color: hsl(349, 70%, 56%);
  }
  .button{
    position: absolute;
    top: 80%;
    left: 65%;
   
  }
  
}
@media(max-width:375px){
  .scissors{
    position: fixed;
    left: 270px;
    top: 130px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 7px;
    top: 130px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 140px;
    top: 350px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
}
@media(max-width:320px){
  .scissors{
    position: fixed;
    left: 240px;
    top: 130px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(40, 84%, 53%);
  }
  .paper{
    position: fixed;
    left: 7px;
    top: 130px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(230, 89%, 65%);
  }
  .rock{
    position: fixed;
    left: 120px;
    top: 340px;
    background-color: white;
    padding: 1%;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(349, 70%, 56%);
  }
}